doctype html
html
    head
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        h1 Researchers
        a(href="/update-cobj").button Add/update list
        .cards
            each researcher in data
                .card
                    h2.card__name #{researcher.properties.name}
                    p.card__field #{researcher.properties.field_study}
                    p.card__institution #{researcher.properties.institution}